<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="./styles/main.css">
        <title>Document</title>
    </head>
    <body>
        <div class="page">
            <a href="#" class="logo"><img src="../images/logo.svg" alt="logo"></a>
            <h1 class="title">Два варианта расчета стоимости системы отопления на сжиженном газе</h1>
            <p class="text">Добрый день, Константин.</p>
            <p class="text">Спасибо вам за проявленный интерес в услугах компании Intergaz. Предо- ставляем вам рассчеты по стоимости отопления на газе на основе данных, которые вы заполнили на нашем сайте.</p>
            <p class="text">Компания Intergaz предлагает два варианта приобретения системы отопле- ния на сжиженном газе. Цена зависит от выбранного вами варианта.</p>

            <div class="object">
                <h2 class="object__title">Данные объекта</h2>
                <div class="object__row">
                    <div class="object__param">Адрес объекта</div>
                    <div class="object__text">Krišjāņa Barona iela 3–6b, Rīga, LV‑1050</div>
                </div>
                <div class="object__row">
                    <div class="object__param">Отапливаемая площадь</div>
                    <div class="object__text">250 м²</div>
                </div>
                <div class="object__row">
                    <div class="object__param">Планируемые расходы на отопление*</div>
                    <div class="object__text">1375 € в год или 127 € в месяц</div>
                </div>
            </div>

            <div class="note">* Планируемые расходы на отопление рассчитаны на основе стоимости сжиженного газа на 25.04.2018. Стоимость планируемых расходов на отопление в месяц рассчитаны исходя из выровненного платежа.</div>
            <div class="footer">
                <div class="footer__page">1</div>
                <a href="https://mans.intergaz.lv/" class="footer__link">www.intergaz.lv</a>
            </div>
        </div>
        <div class="page">
            <h1 class="title title_center">Варианты приобретения системы отопления</h1>
            <div class="variant">
                <h2 class="variant__title">Вариант 1</h2>
                <div class="variant__subtitle">Передача в пользование системы газоснабжения</div>
                <div class="variant__row">
                    <div class="variant__price">55 €
                        <span>в месяц</span>
                    </div>
                    <div class="variant__text">В данном варианте сотрудничества, компания Intergaz предоставляет вам в пользование систему отопления за ежемесячную абонентскую плату.</div>
                </div>
            </div>
            <div class="pay">
                <div class="pay-item">
                    <div class="pay-item__title">Абонентская плата включает в себя:</div>
                    <div class="pay-item__text">Плату за пользование наружной системы газоснабжения.</div>
                    <div class="pay-item__text">Обязательное ежегодное техническое обслуживание системы газоснабжения и газовой емкости (обычная цена: 120 €).</div>
                    <div class="pay-item__text">Систему телеметрии и газовый счетчик. Система теле- метрии позволяет следить за остатками газа в газовой емкости через удобный портал
                        <a href="https://mans.intergaz.lv/">mans.intergaz.lv</a>. Газо- вый счетчик позволяет использовать удобные вариан- ты оплаты за газ, такие как:
                        <a href="#">выровненный платеж</a>
                        или
                        <a href="#">оплата газа по факту потребления</a>, стр. 4.
                    </div>
                </div>
                <div class="pay-item">
                    <div class="pay-item__title">Абонентская плата не включает в себя:</div>
                    <div class="pay-item__text">Стоимость внутреннего газопровода (газопровод, который находится внутри вашего дома).</div>
                    <div class="pay-item__text">Стоимость проекта. От 280 €.</div>
                    <div class="pay-item__text">Стоимость земляных работ. При установке подземной газовой емкости потребуется вырыть котлован и тран- шею от газовой емкости до газифицируемого объекта. Для наземной емкости требуется только траншея от га- зовой емкости до газифицируемого объекта.</div>
                </div>
            </div>
            <div class="footer">
                <div class="footer__page">2</div>
                <a href="https://mans.intergaz.lv/" class="footer__link">www.intergaz.lv</a>
            </div>
        </div>
        <div class="page">
            <div class="variant">
                <h2 class="variant__title">Вариант 2</h2>
                <div class="variant__subtitle">Покупка системы газоснабжения</div>
                <div class="variant__row">
                    <div class="variant__price variant__price_second">
                        <span>от</span>
                        3800<span class="star">*</span>
                        €
                    </div>
                    <div class="variant__text variant__text_second">В данном варианте сотрудничества, вы приобретаете систему отопления в свою собственность на основании рассчитанной сметы.</div>
                </div>
            </div>
            <h3 class="position-title">Система отопления состоит из следующих позиций:</h3>
            <div class="positions">
                <div class="position">
                    <div class="position__count">01</div>
                    <div class="position__text">Газовая емкость (наземная или подземная)</div>
                </div>
                <div class="position">
                    <div class="position__count">02</div>
                    <div class="position__text">Наружный газопровод</div>
                </div>
                <div class="position">
                    <div class="position__count">03</div>
                    <div class="position__text">Внутренний газопровод</div>
                </div>
                <div class="position">
                    <div class="position__count">04</div>
                    <div class="position__text">Изготовление проекта</div>
                </div>
                <div class="position position_without-border">
                    <div class="position__count">05</div>
                    <div class="position__text">Земельные работы</div>
                </div>
            </div>
            <div class="images">
                <div class="image">
                    <img src="../images/img1.jpg" alt="intergaz">
                    <div class="image__text">Система газоснабжения с надземной газовой емкостью</div>
                </div>
                <div class="image">
                    <img src="../images/img2.jpg" alt="intergaz">
                    <div class="image__text">Система газоснабжения с подземной газовой емкостью</div>
                </div>
            </div>

            <div class="note">* Базовая цена системы отопления с газовой емкостью. Окончательная сумма системы отопления с газовой емкостью расчитывается индивидуально. Указанная базовая цена не включает в себя стоимость разработки проекта, земельных работ, газового счётчика и системы телеметрии. Дополнительно вам понадобится заключить договор на техническое обслуживание системы отопления и газовой емкости. Стоимость технического обслуживания 110 € в год.</div>
            <div class="footer">
                <div class="footer__page">3</div>
                <a href="https://mans.intergaz.lv/" class="footer__link">www.intergaz.lv</a>
            </div>
        </div>
        <div class="page">
            <h1 class="title title_center">Варианты оплаты за газ</h1>
            <div class="grey-rect">
                <h3 class="title_blue">Оплата газа по счетчику</h3>
                <div class="subtitle_small"></div>
                <div class="type">
                    <div class="type__count">1</div>
                    <div class="type__text">
                        <b>Выровненный платеж</b>* — это форма расчета, при которой клиент ежемесячно платит одинаковую сумму. Платеж рассчитывается индивидуально для каждого клиента в зависимости от среднего потребления сжиженного газа за год.</div>
                </div>
                <div class="type">
                    <div class="type__count">2</div>
                    <div class="type__text">
                        <b>Оплата по факту потребления</b>
                        — это форма расчета, при которой клиент оплачивает потребленное количество сжиженного газа за предыдущий месяц.</div>
                </div>
                <div class="type-row">
                    <img class="type-img" src="../images/type-img.jpg" alt="">
                    <span class="note_second">Выровненный платеж и оплата по факту потребления доступны клиентам, у которых установлен газовый счетчик.</span>
                </div>
            </div>
            <div class="grey-rect">
                <h3 class="title_blue">Предоплата</h3>
                <div class="text-with-border">Форма расчета, при которой клиент оплачивает полную сумму заказа.</div>
            </div>
            <div class="footer">
                <div class="footer__page">4</div>
                <a href="https://mans.intergaz.lv/" class="footer__link">www.intergaz.lv</a>
            </div>
        </div>
    </body>
</html>